doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/rxjs@%5E7/dist/bundles/rxjs.umd.min.js')
    script(src='/javascripts/script.js')
  body
    block content